*~
~$*
$tf/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
AppPackages/
*.appx
*.appxbundle
*.appxupload
*.aps
artifacts/
ASALocalRun/
AutoTest.Net/
.axoCover/*
!.axoCover/settings.json
*.azurePubxml
Backup*/
*- [Bb]ackup ([0-9][0-9]).rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup.rdl
[Bb]in/
[Bb]uild[Ll]og.*
BenchmarkDotNet.Artifacts/
*.bim.layout
*.bim_*.settings
bin/
*.binlog
bld/
*.btm.cs
*.btp.cs
*.build.csdef
.builds
BundleArtifacts/
*.cab
*.cachefile
!?*.[Cc]ache/
*.[Cc]ache
_Chutzpah*
ClientBin/
*.code-workspace
*.coverage
coverage*.info
coverage*.json
*.coveragexml
coverage*.xml
.cr/personal
.*crunch*.local.xml
csx/
*.dbmdl
*.dbproj.schemaview
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
dlldata.c
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/html
DocProject/Help/Html2
DocProject/Help/*.HxC
DocProject/Help/*.HxT
*.dotCover
*.DotSettings.user
*.e2e
ecf/
[Ee]xpress/
.fake/
FakesAssemblies/
FodyWeavers.xsd
Generated_Code/
Generated\ Files/
*.GhostDoc.xml
*.gpState
healthchecksdb
*_h.h
.history
.history/
**/*.HTMLClient/GeneratedArtifacts
*_i.c
.idea/
*.ilk
*.iobj
.ionide
.ionide/
ipch/
*.ipdb
*.jfm
*.jmconfig
*.ldf
[Ll]og/
[Ll]ogs/
.localhistory/
*.log
*.mdf
*.meta
.mfractor/
MigrationBackup/
*.mm.*
mono_crash.*
*.msi
*.msix
*.msm
*.msp
*.ncb
_NCrunch_*
nCrunchTemp_*
*.ndf
/node_modules
node_modules/
.ntvs_analysis.dat
nuget.config
*.nuget.props
*.nuget.targets
nunit-*.xml
*.nupkg
*.nvuser
*.obj
obj/
*.odx.cs
[Oo]bj/
OpenCover/
*.opendb
*.opensdf
*.opt
orleans.codegen.cs
Package.StoreAssociation.xml
paket-files/
.paket/paket.exe
*_p.c
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
_pkginfo.txt
*.plg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.[Pp]ublish.xml
project.fragment.lock.json
project.lock.json
*.psess
publish/
*.publishproj
PublishScripts/
*.publishsettings
*.pubxml
_Pvt_Extensions
*.pyc
__pycache__/
rcf/
*.rdl.data
_ReSharper*/
*.rptproj.bak
*.rptproj.rsuser
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
*.[Rr]e[Ss]harper
*.rsp
*.rsuser
*.sap
.sass-cache/
*.sbr
ScaffoldingReadMe.txt
*.scc
*.sdf
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
ServiceFabricBackup/
*.sln.docstates
*.sln.iml
*.snupkg
StyleCopReport.xml
*.suo
*.svclog
_TeamCity*
TestResult.xml
*.tlb
*.tlh
*.tli
*.tlog
*.tmp
*.tmp_proj
*.tss
[Tt]est[Rr]esult*/
UpgradeLog*.htm
UpgradeLog*.XML
_UpgradeReport_Files/
*.user
*.userosscache
*.userprefs
*.vbw
*.VC.db
*.VC.VC.opendb
*.VisualState.xml
.vs/
.vscode/*
*.vsp
*.vspscc
*.vspx
*.vssscc
*_wpftmp.csproj
[Ww][Ii][Nn]32/
/wwwroot/node_modules
x64/
x86/
*.xsd.cs
